# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Env / virtualenv
.env
.venv/
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Other
*.sqlite3
